@import "tailwindcss";

:root {
  --bg-color: #121315;
  --text-color: #e0eeee;
  --font-main: Arial, Helvetica, sans-serif;
}

.custom-black {
  background-color: #121315;
}

.custom-white {
  color: #e0eeee;
}

body {
  background: var(--bg-color);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Import Dirtyline locally or via @font-face */
@font-face {
  font-family: "Dirtyline 36Daysoftype 2022";
  src: url("/fonts/Dirtyline.ttf") format("truetype"); /* adjust path */
  font-weight: 400;
  font-style: normal;
}

.golden {
  color: #6b5e41;
}

.black-lighter {
  color: #313234;
}

.clip-path-pricing-plan {
  clip-path: polygon(
    74.1% 44.1%,
    100% 61.6%,
    97.5% 26.9%,
    85.5% 0.1%,
    80.7% 2%,
    72.5% 32.5%,
    60.2% 62.4%,
    52.4% 68.1%,
    47.5% 58.3%,
    45.2% 34.5%,
    27.5% 76.7%,
    0.1% 64.9%,
    17.9% 100%,
    27.6% 76.8%,
    76.1% 97.7%
  );
}

@keyframes marquee-move-text {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Hides scrollbar for all browsers */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
